<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UNUserNotificationCenter</key>
	<string>This app needs to access the send notifications about your emergency checklist.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts to store your emergency contacts for quick access.</string>
</dict>
</plist>
